<div class="outer">
    <div class="carddiv">
        <mat-card class="card">
            <div class="cardinner">
                <div style="width: 50%;text-align: center;">
                    <span><img src="../../../assets/images/Logo.png" alt="logo" width="100px"></span><br>
                    <span style="font-family:sans-serif; font-size:xx-large;">Create a Fundoo Account</span>
                </div>
                <div class="fieldsdiv">
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="fields">
                            <div>
                                <p>
                                    <mat-form-field class="fullwidth" appearance="outline">
                                        <mat-label>First Name</mat-label>
                                        <input matInput placeholder="First Name" formControlName="firstName" required>
                                        <mat-hint></mat-hint>
                                    </mat-form-field>
                                </p>
                                <p>
                                    <mat-form-field class="fullwidth" appearance="outline">
                                        <mat-label>Last Name</mat-label>
                                        <input matInput placeholder="Last Name" formControlName="lastName" required>
                                        <mat-hint></mat-hint>
                                    </mat-form-field>
                                </p>
                            </div>
                            <div>
                                <p>
                                    <mat-form-field class="fullwidth" appearance="outline">
                                        <mat-label>Email</mat-label>
                                        <input matInput placeholder="Email" formControlName="email" required>
                                        <mat-hint></mat-hint>
                                    </mat-form-field>
                                </p>
                                <p>
                                    <mat-form-field class="fullwidth" appearance="outline">
                                        <mat-label>Password</mat-label>
                                        <input matInput type="password" placeholder="Password" formControlName="password" required>
                                        <mat-hint></mat-hint>
                                    </mat-form-field>
                                </p>
                            </div>
                        </div>
                        <div class="btnsdiv">
                            <a href="#" routerLink='/'><button mat-raised-button class="createbtns">Sign in
                                    instead</button></a>
                            <button mat-raised-button color="primary" class="loginbtns">Next</button>
                        </div>
                    </form>
                </div>
            </div>
        </mat-card>
        <br>
        <div class="bottom">
            <div class="hptbtns">
                <div><span class="hptbtnshover">Help</span></div>
                <div><span class="hptbtnshover">Privacy</span></div>
                <div><span class="hptbtnshover">Terms</span></div>
            </div>
        </div>
    </div>
</div>