.outer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(231, 240, 243, 0.656);
}
.carddiv{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    border-radius: 30px;
    width: 75vw;
    height: 55vh;
}
.cardinner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw;
}
.fieldsdiv{
    width: 70vw;
    display: flex;
    flex-direction: column;
}
.fields{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.fullwidth{
    width: 33vw;
}
.btnsdiv{
    display: flex;
    justify-content: space-between;
}
.state{
    height: 9vh;
}
.bottom{
    width: 70vw;
    display: flex;
    justify-content:flex-end;
}
.hptbtns{
    display: flex;
    gap: 2vw;
}
.loginbtns{
    border-radius: 15px;
    font-weight: bold;
    font-family:sans-serif;
}
.loginbtns:hover{
    transform: translateY(-2px);
}
a .createbtns{
    border-radius: 15px;
    font-weight: bold;
    font-family:sans-serif;
    color: blue;
    background-color: rgba(254, 254, 255, 0.995);
}
a .createbtns:hover, .hptbtnshover:hover{
    transform: translateY(-2px);
}