<mat-toolbar class="toolbar">
    <div class="firstdiv">
        <div>
            <button mat-icon-button class="example-icon" (click)="drawertoggle()">
                <img src="../../../assets/icons/menu.png" alt="menuicon">
            </button>
        </div>
        <img src="../../../assets/images/keep.png" alt="keepimg">
        <span style="color: rgb(99, 99, 99); font-size:x-large;">Keep</span>
    </div>
    <div class="seconddiv">
        <button mat-icon-button class="example-icon favorite-icon">
            <img src="../../../assets/icons/search.png" alt="searchicon">
        </button>
        <span><input class="inputsearch" placeholder="search" [(ngModel)]="searchQuery" (input)="handleSearchQuery()"></span>
    </div>
    <div class="thirddiv">
        <div>
            <button mat-icon-button class="example-icon favorite-icon">
                <img src="../../../assets/icons/refresh.png" alt="menuicon">
            </button>
            <button mat-icon-button class="example-icon">
                <img src="../../../assets/icons/list.png" alt="menuicon">
            </button>
            <button mat-icon-button class="example-icon">
                <img src="../../../assets/icons/settings.png" alt="menuicon">
            </button>
        </div>
        <div>
            <button mat-icon-button class="example-icon">
                <img src="../../../assets/icons/apps.png" alt="menuicon">
            </button>
            <button mat-icon-button class="example-icon" style="background-color: darkviolet; color: #fff;">
                <h4>S</h4>
            </button>
        </div>
    </div>
</mat-toolbar>
<mat-drawer-container class="example-container" [hasBackdrop]="false">
    <mat-drawer style="width: 200px;" #drawer [mode]="'side'" [opened]="drawerState">
        <div class="drawer-icons" (click)="handleRoutes('/dashboard/notes')">
            <button mat-icon-button class="drawer-icon">
                <img src="../../../assets/icons/lightbulb.png" alt="menuicon">
            </button>
            <div>Notes</div>
        </div>
        <div class="drawer-icons">
            <button mat-icon-button class="example-icon">
                <img src="../../../assets/icons/notifications.png" alt="menuicon">
            </button>
            <div>Reminders</div>
        </div>
        <div class="drawer-icons">
            <button mat-icon-button class="example-icon">
                <img src="../../../assets/icons/edit.png" alt="menuicon">
            </button>
            <div>Edit lables</div>
        </div>
        <div class="drawer-icons" (click)="handleRoutes('/dashboard/archive')">
            <button mat-icon-button class="example-icon">
                <img src="../../../assets/icons/archive.png" alt="menuicon">
            </button>
            <div>Archive</div>
        </div>
        <div class="drawer-icons" (click)="handleRoutes('/dashboard/trash')">
            <button mat-icon-button class="example-icon">
                <img src="../../../assets/icons/delete.png" alt="menuicon">
            </button>
            <div>Trash</div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
       <div style="height: 90vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
  </mat-drawer-container>
  
