<mat-card class="add-note-card-main" appearance="outlined">
    <div class="add-note-card-content">
        <div>
            <span>Add a note...</span>
        </div>
        <div class="add-note-card-icons">
            <img src="../../../assets/icons/checkbox.png" alt="checkboxlogo" width="20px">
            <img src="../../../assets/icons/brush.png" alt="brushlogo" width="20px">
            <img src="../../../assets/icons/note-card-image.png" alt="imagelogo" width="20px">
        </div>
    </div>
</mat-card>
<br>
<mat-card class="add-note-content-main" appearance="outlined">
    <div class="add-note-content-title">
        <span>Title</span>
        <img src="../../../assets/icons/pin.png" alt="pinlogo" width="20px">
    </div>
    <div class="add-note-content-text">
        <span>Add a note...</span>
    </div>
    <div class="add-note-content-icons">
        <div class="add-note-content-icons-inner">
            <img src="../../../assets/icons/note-card-notification.png" alt="notificationlogo" width="20px">
            <img src="../../../assets/icons/note-card-add.png" alt="addlogo" width="20px">
            <img src="../../../assets/icons/note-card-colors.png" alt="colorlogo" width="20px">
            <img src="../../../assets/icons/note-card-image.png" alt="imagelogo" width="20px">
            <img src="../../../assets/icons/archive.png" alt="archivelogo" width="20px">
            <img src="../../../assets/icons/note-card-more.png" alt="morelogo" width="20px">
            <img src="../../../assets/icons/undo.png" alt="undologo" width="20px">
            <img src="../../../assets/icons/redo.png" alt="redologo" width="20px">
        </div>
        <div>
            <button mat-button>close</button>
        </div>
    </div>
</mat-card>