.outer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(231, 240, 243, 0.656);
}
.carddiv{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    border-radius: 30px;
    width: 75vw;
    height: 50vh;
}
.cardinner{
    display: flex;
    justify-content:space-between;
    padding: 2vw;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.fields{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.anchor{
    text-decoration: none;
    color: blue;
    font-weight:500;
}
.fullwidth{
    width: 100%;
}
.btnwidth{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    gap: 2vw;
}
.state{
    height: 9vh;
}
.bottom{
    width: 70vw;
    display: flex;
    justify-content: space-between;
}
.hptbtns{
    display: flex;
    gap: 2vw;
}
.loginbtns{
    border-radius: 15px;
    font-weight: bold;
    font-family:sans-serif;
}
.loginbtns:hover{
    transform: translateY(-2px);
}
a .createbtns{
    border-radius: 15px;
    font-weight: bold;
    font-family:sans-serif;
    color: blue;
    background-color: rgba(254, 254, 255, 0.995);
}
a .createbtns:hover, .hptbtnshover:hover{
    transform: translateY(-2px);
}