<div class="note-card-main-div">
    <mat-card class="note-card-main" appearance="outlined">
        <div class="note-card-title">
            <span>{{noteCardData.title}}</span>
            <img src="../../../assets/icons/pin.png" alt="pinlogo" width="20px">
        </div>
        <div class="note-card-text">
            <span>{{noteCardData.takeNote}}</span>
        </div>
        <div class="note-card-icons">
            <img src="../../../assets/icons/note-card-notification.png" alt="notificationlogo" width="20px">
            <img src="../../../assets/icons/note-card-add.png" alt="addlogo" width="20px">
            <img src="../../../assets/icons/note-card-colors.png" alt="colorlogo" width="20px">
            <img src="../../../assets/icons/note-card-image.png" alt="imagelogo" width="20px">
            <img src="../../../assets/icons/archive.png" alt="archivelogo" width="20px">
            <img src="../../../assets/icons/note-card-more.png" alt="morelogo" width="20px">
        </div>
    </mat-card>
</div>