.note-card-main-div{
    display: flex;
}
.note-card-main{
    width: 17vw;
    height: auto;
    box-shadow: 1px 1px 4px 1px #888888;
}
.note-card-title{
    display: flex;
    justify-content: space-between;
    padding: 1vw;
}
.note-card-text{
    padding: 1vw;
}
.note-card-icons{
    display: flex;
    justify-content: space-between;
    padding: 1vw;
}
.note-card-trash-icons{
    display: flex;
    justify-content: flex-start;
    gap: 2vw;
    padding: 1vw;
}

.color-palate-cnt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    padding: 4px 12px;
    border-radius: 8px;
}
.color-btn {
    width: 30px;
    height: 30px;
    border-radius: 200px;
    margin: 8px 0px;
}
.col1 {
    @extend .color-btn;
    background-color: #FFFFFF; 
    border: 1px solid #e7e7bc;
}
.col2 {
    @extend .color-btn;
    background-color: #FAAFA8;
    border: 1px solid #FAAFA8; 
 }
 .col3 {
    @extend .color-btn;
    background-color: #F39F76;
    border: 1px solid #F39F76; 
 }
 .col4 {
    @extend .color-btn;
    background-color: #FFF8B8;
    border: 1px solid #FFF8B8; 
 }
 .col5 {
    @extend .color-btn;
    background-color: #E2F6D3;
    border: 1px solid #E2F6D3; 
 }
 .col6 {
    @extend .color-btn;
    background-color: #B4DDD3;
    border: 1px solid #B4DDD3; 
 }
 .col7 {
    @extend .color-btn;
    background-color: #D4E4ED;
    border: 1px solid #D4E4ED; 
 }
 .col8 {
    @extend .color-btn;
    background-color: #AECCDC;
    border: 1px solid #AECCDC; 
 }
 .col9 {
    @extend .color-btn;
    background-color: #D3BFDB;
    border: 1px solid #D3BFDB; 
 }
 .col10 {
    @extend .color-btn;
    background-color: #F6E2DD;
    border: 1px solid #F6E2DD; 
 }
 .col11 {
    @extend .color-btn;
    background-color: #E9E3D4;
    border: 1px solid #E9E3D4; 
 }
 .col12 {
    @extend .color-btn;
    background-color: #EFEFF1;
    border: 1px solid #EFEFF1; 
 }
