<div class="outer">
    <div class="carddiv">
        <mat-card class="card">
            <div class="cardinner">
                <div class="content">
                    <img src="../../../assets/images/Logo.png" alt="logo" width="100px">
                    <p style="font-family:sans-serif; font-size:xx-large;" >Reset Password</p>
                    <span>Use your fundoo account</span>
                </div>
                <div class="fields">
                    <span>
                        <mat-form-field class="fullwidth" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" required>
                            <mat-hint></mat-hint>
                        </mat-form-field>
                    </span>
                    <span>
                        <mat-form-field class="fullwidth" appearance="outline">
                            <mat-label>New Password</mat-label>
                            <input matInput placeholder="New Password" required>
                            <mat-hint></mat-hint>
                        </mat-form-field>
                    </span>
                    <span>
                        <mat-form-field class="fullwidth" appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput placeholder="Confirm Password" required>
                            <mat-hint></mat-hint>
                        </mat-form-field>
                    </span>
                    <div class="btnwidth">
                        <a href="#" routerLink='/'><button mat-raised-button class="createbtns">Go to login</button></a>
                        <button mat-raised-button color="primary" class="loginbtns">Reset</button>
                    </div>
                </div>
            </div>
        </mat-card>
        <br>
        <div class="bottom">
            <div class="hptbtns">
                <div><span class="hptbtnshover">Help</span></div>
                <div><span  class="hptbtnshover">Privacy</span></div>
                <div><span mat-raised-button class="hptbtnshover">Terms</span></div>
            </div>
        </div>
    </div>
</div>
